/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    // background:     #000B1EFF;
    // background:     #1d1d1dFF;
    background:     #1C1C1CE6;
    background-alt: #0A1528FF;
    foreground:     #0ABDC6FF;
    selected:       #0ABDC6FF;
    active:         #00FF00FF;
    urgent:         #FF0000FF;
}
