[Desktop Entry]
Name=Cursor AI
Comment=App to show cursor information
Exec=/home/thebhuvnesh/Downloads/Cursor-1.1.7-x86_64.AppImage
Icon=/home/thebhuvnesh/.config/icons8-cursor-ai-256.png
Type=Application
Categories=Utility;

